@charset "utf-8";

@import "./config";
@import "./reset";

// 公共样式
html, body {
    @extend %box;

    margin: 0;
    color: $baseColor;
    background-color: $backgroundColor;
    font: #{$baseSize}/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fl{ float: left; }
.fr{ float: right; }
.hide { display: none !important; }
.ovhd { overflow: hidden; }
.clear { clear: both;}
.clearfix{ display: block; zoom: 1; }
.clearfix::after{ content: ''; display: block; font-size: 0; clear: both; height: 0; visibility: hidden; }
.nowrap{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.align-l{ text-align: left !important; }
.align-r{ text-align: right !important; }
.align-c{ text-align: center !important; }
.align-t{ vertical-align: top !important; display: inline-block; }
.align-m{ vertical-align: middle !important; display: inline-block; }
.align-b{ vertical-align: bottom !important; display: inline-block; }

.zt { z-index: 10 !important; }
.zh { z-index: 100 !important; }
.zk { z-index: 1000 !important; }
.zw { z-index: 10000 !important; }

.block { display: block !important;}
.inline { display: inline-block !important; }

.page { @extend %page; }
.container {
    margin-left: auto;
    margin-right: auto;
    width: $containerSize;
    box-sizing: border-box;
}

.pt40, .ph40 { padding-top: 40px !important; }
.pb40, .ph40 { padding-bottom: 40px !important; }

.icon-svg {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    fill: currentcolor;

    & + span {
        vertical-align: middle;
    }
}

.inline-btns {
    $height: 28px;
    @include round(5px);

    height: $height;
    line-height: $height;
    border: 1px solid $borderColor;
    color: #333;
    background-color: white;
    font-size: 12px;
    text-align: center;
    letter-spacing: .1px;
    cursor: pointer;

    & > li {
        display: inline-block;
        min-width: 48px;
        padding: 0 15px;
        transition: background-color .3s ease-in-out;

        & + li {
            border-left: 1px solid $borderColor;
        }

        &:hover {
            background-color: #f1f1f1;
        }
    }
}
